{% extends 'root.html' %}
{% load bootstrap5 %}

{% block contents %}

<script>
    var btc_binance;
    var temp_btc_upbit;
    var exchange_rate;
    var above_signal_price = 100000
    var below_signal_price = 0
    let user_order_data;
    const exchange_apikey = 's2xELmhM825086VbOe4i0C83cTsqdpT2'
    var user_btc = parseFloat($('#btc_amount').text())
    var buy_average = parseFloat($('#buy_average').text())
    var buy_deposit = user_btc * buy_average
    var profit;

    // upbit & binance price ajax
    $(function () {
        setInterval(function () {
            $.ajax({
                type: "GET",
                url: "https://api3.binance.com/api/v3/trades?limit=1&symbol=BTCUSDT",
                data: {},
                success: function (response) {
                    btc_binance = parseFloat(response[0]['price']);
                    btc_binance = btc_binance.toFixed(2);
                    console.log(btc_binance);
                    $("#btc-binance-div").empty();
                    $("#btc-binance-div").append(btc_binance);
                    if (above_signal_price <= btc_binance || below_signal_price >= btc_binance) {
                        alert("목표가도달");
                        above_signal_price = 100000;
                        below_signal_price = 0;
                    }
                    order_trigger();

                    profit = btc_binance * user_btc
                    profit = (profit / buy_deposit - 1) * 100
                    profit = profit.toFixed(2)
                    $("#expected_profit").empty();
                    $("#expected_profit").append(profit + '%');
                }
            });
            $.ajax({
                type: "GET",
                url: "https://api.upbit.com/v1/trades/ticks?market=KRW-BTC&count=1",
                data: {},
                success: function (response) {
                    btc_upbit = parseInt(response[0]['trade_price']);
                    $("#btc-upbit-div").empty();
                    $("#btc-upbit-div").append(btc_upbit);
                    var exchange_binance = exchange_rate * btc_binance;
                    var gimp = ((btc_upbit - exchange_binance) / exchange_binance * 100);
                    $("#gimchi-div").empty();
                    $("#gimchi-div").append(gimp.toFixed(2) + ' %');
                }
            });
        }, 1000);
    });

    // USDKRW exchange ajax

    $(function () {
        $.ajax({
            type: "GET",
            url: "{% url 'btc:get_exchange' %}",
            data: {},
            success: function (response) {
                console.log(response[0].fields.usd_krw);
                var string_data = response[0].fields.usd_krw
                exchange_rate = parseFloat(string_data);
                console.log(exchange_rate);
            }
        }), setInterval(function () {
            $.ajax({
                type: "GET",
                url: "{% url 'btc:get_exchange' %}",
                data: {},
                success: function (response) {
                    console.log(response[0].fields.usd_krw);
                    var string_data = response[0].fields.usd_krw
                    exchange_rate = parseFloat(string_data);
                    console.log(exchange_rate);
                }
            })
        }, 3600000);
    });



    // signal price

    function getSignalPrice() {
        above_signal_price = parseInt($('#above_signal').val())
        below_signal_price = parseInt($('#below_signal').val())
    }

    // trading way tab

    $(document).ready(function () {


        $('ul.tabs li').click(function () {
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        })

    })

    // buy sell action

    $(document).ready(function () {
        console.log("ddd");
        $.ajax({
            type: "GET",
            datatype: 'json',
            url: "{% url 'btc:user_order_list' user.pk %}",
            success: function (data) {
                user_order_data = data
                console.log("주문 정보 수집 성공")
            },
            error: function (response) {
                console.log(response.responseJSON.errors);
            }
        }),
            user_btc = parseFloat($('#btc_amount').text())
        buy_average = parseFloat($('#buy_average').text())
        buy_deposit = user_btc * buy_average
    })

    // order trigger function
    function order_trigger() {

        for (i in user_order_data) {
            if (user_order_data[i].fields.position == "buy") {
                if (user_order_data[i].fields.order_price >= btc_binance) {
                    var param = {
                        'pk': user_order_data[i].pk,
                    };
                    $.ajax({
                        type: "POST",
                        headers: {
                            'X-CSRFTOKEN': '{{ csrf_token }}'
                        },
                        datatype: 'json',
                        data: JSON.stringify(param),
                        url: "{% url 'btc:contract_order_limit' %}",
                        success: function (response) {
                            location.reload();
                        },
                        error: function (response) {
                            console.log(response.responseJSON.errors);
                        }
                    })
                }
            }
            else {
                if (user_order_data[i].fields.order_price <= btc_binance) {
                    var param = {
                        'pk': user_order_data[i].pk,
                    };
                    $.ajax({
                        type: "POST",
                        headers: {
                            'X-CSRFTOKEN': '{{ csrf_token }}'
                        },
                        datatype: 'json',
                        data: JSON.stringify(param),
                        url: "{% url 'btc:contract_order_limit' %}",
                        success: function (response) {
                            location.reload();
                        },
                        error: function (response) {
                            console.log(response.responseJSON.errors);
                        }
                    })
                }
            }
        }
    }




    // market order hidden price value add
    function add_order_price() {
        var market_form = document.forms['maket_order'];
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'order_price';
        input.value = btc_binance;
        market_form.appendChild(input);
    }


    // limit order validator
    function validator () {

        if ($("#limit_form").find("select[name=position]").val() == 'buy' && $("#limit_form").find("input[name=order_price]").val() >= btc_binance) {
            alert("현재가보다 높은 가격에 매수 지정가 주문은 불가능합니다.");
            return false;
        } else if ($("#limit_form").find("select[name=position]").val() == 'sell' && $("#limit_form").find("input[name=order_price]").val() <= btc_binance) {
            alert("현재가보다 낮은 가격에 매도 지정가 주문은 불가능합니다.");
            return false;
        }
        return true;
    }


</script>




<!-- TradingView Widget BEGIN -->
<div class="container sd-remove">
    <div class="row">
        <div class="col-md-8">
            <div class="div-title" style="margin-top: 10px;" id="price-container">
                <div class="coin-div" style="padding-left: 0;">
                    <img src="static/BTC.png" class="exchange-logo"> <span style="font-weight: 600;">비트코인</span> <span style="font-size: 16px; color: gray;">BTC/USDT</span>
                </div>
                <div class="row">
                    <div class="col-md-4 price-header">
                        <a href="https://www.binance.com/en/trade/BTC_USDT?layout=pro">
                            <img src="static/binance-logo.svg" class="exchange-logo"> 바이낸스
                            <img src="static/link.png" class="link-icon">
                        </a>
                    </div>
                    <div class="col-md-4 price-header">
                        <a href="https://upbit.com/exchange?code=CRIX.UPBIT.KRW-BTC">
                            <img src="static/upbit-logo.png" class="exchange-logo"> 업비트
                            <img src="static/link.png" class="link-icon">
                        </a>
                    </div>
                    <div class="col-md-4 price-header">
                        김프
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div id='btc-binance-div' class="btc-binance-body"></div><span style="font-size: 16px; color: gray;"> USDT</span>
                    </div>
                    <div class="col-md-4">
                        <div id='btc-upbit-div' class="btc-binance-body"></div><span style="font-size: 16px; color: gray;"> KRW</span>
                    </div>
                    <div class="col-md-4 btc-binance-body" id='gimchi-div'>
                    </div>
                </div>
            </div>

            <div class="tradingview-widget-container div-card" style="margin-top: 0;">
                <div id="tradingview_e21e3"></div>
                <div class="tradingview-widget-copyright">TradingView 제공 <a
                        href="https://kr.tradingview.com/symbols/BTCUSDT/?exchange=BINANCE" rel="noopener"
                        target="_blank"><span class="blue-text">BTCUSDT 차트</span></a></div>
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                    new TradingView.widget(
                        {
                            "width": '100%',
                            "height": 530,
                            "symbol": "BINANCE:BTCUSDT",
                            "interval": "D",
                            "timezone": "Etc/UTC",
                            "theme": "light",
                            "style": "1",
                            "locale": "kr",
                            "toolbar_bg": "#f1f3f6",
                            "enable_publishing": false,
                            "allow_symbol_change": true,
                            "container_id": "tradingview_e21e3"
                        }
                    );
                </script>
            </div>
            <!-- TradingView Widget END -->
        </div>
        <div class="col-md-4">
            <div class="div-card" id="ex-alert">
                <div class="div-title">
                    가격 알림
                </div>
                <div class="div-contents">
                    <div>
                        <input type="radio" name="sel_transaction" value="up" onclick="controlHidden(this.value)" checked="checked"> 지정가 이상 (USDT) &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="sel_transaction" value="down" onclick="controlHidden(this.value)"> 지정가 이하 (USDT)
                    </div>
                    <div id="above_input" class="">
                        <input type="text" id="above_signal" class="alert-input alert-input-style" placeholder="100000">
                    </div>
                    <div id="below_input" class="hidden">
                        <input type="text" id="below_signal" class="alert-input alert-input-style" placeholder="0">
                    </div>
                    <input type="button" onclick="getSignalPrice()" value="알림 설정" class="alert-btn">
                </div>
            </div>
            <div class="div-card" style="height: 450px;">
                <div class="div-title" style="margin-top: 10px;">주문</div>
                <ul class="tabs">
                    <li class="tab-link current" data-tab="tab-1">지정가</li>
                    <li class="tab-link" data-tab="tab-2">시장가</li>
                </ul>

                <div id="tab-1" class="tab-content current" style="height: 355px;">
               <form method="post" action="{% url 'btc:create_order_limit'%}" id="limit_form" onsubmit="return validator()">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {{ form.errors }}
                        <input type="submit" class="btn btn-primary mt-3" id="buy_limit" value="주문"></input>
                        <br>

                    </form>

                </div>
                <div id="tab-2" class="tab-content" style="height: 355px;">
                    <form method="post" action="{% url 'btc:contract_order_market'%}" name="maket_order"
                        onSubmit="add_order_price()">
                        {% csrf_token %}
                        {% bootstrap_form form exclude='order_price' %}
                        <button type="submit" class="btn btn-primary mt-3" id="buy_market">주문</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container sd-remove">
    <div class="row">
        <div class="col-md-8 panel">
            <div class="div-card">
                <div class="div-title">거래 대기 주문</div>

                <table class="table" style="width:100%; font-size:1rem;">
                    <th>포지션</th>
                    <th>주문 가격</th>
                    <th>수량</th>
                    <th>금액</th>
                    <th>주문취소</th>
                    {% if user.order_set.all %}
                    {% for order in user.order_set.all %}
                <tr>
                    <td>{{ order.position }}</td>
                    <td>{{ order.order_price }}USDT</td>
                    <td>{{ order.amount }}BTC</td>
                    <td>{{ order.deposit }}USDT</td>
                    <td><strong><a href="{% url 'btc:order_delete' order.pk %}" style="color:red;">주문 취소</a></strong>
                    </td>
                </tr>
                {% endfor %}
                </table>


                      {% else %}
                                </table>
                            주문 정보가 존재하지 않습니다.
            {% endif %}
            </div>
        </div>

        <div class="col-md-4">
            <div class="div-card">
                <div class="div-title">
                    투자현황
                </div>
                <div class="div-contents">
                    <p>보유 BTC : <span id="btc_amount">{{user.wallet_set.get.bitcoin}}</span></p>
                    <p>평균 매수가 : <span id="buy_average">{{user.wallet_set.get.average_price}}</span></p>
                    <p>예상 수익률 : <span id="expected_profit"></span></p>
                </div>
            </div>
        </div>


    </div>
</div>

</div>



</span>


<script>
    // noti alert radiobox
    const aboveInput = document.querySelector("#above_input");
    const belowInput = document.querySelector("#below_input");

    const HIDDEN_CLASSNAME = "hidden";

    function controlHidden(value) {
        if(value === "up" ) {
            if(belowInput.classList !== "") {
                belowInput.classList.add(HIDDEN_CLASSNAME);
            }
            aboveInput.classList.remove(HIDDEN_CLASSNAME);
        } else if(value === "down") {
            console.log("down");
            if(aboveInput.classList !== "") {
                aboveInput.classList.add(HIDDEN_CLASSNAME);
            }
            belowInput.classList.remove(HIDDEN_CLASSNAME);
        }
    }
</script>


{% endblock contents %}