{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BTC village</title>

    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="icon/BTC.png" rel="shortcut icon" type="image/x-icon" style="width: 32px;">
    <style>@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");</style>

    <script>

    $(document).ready(function () {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 5000);
    });
    </script>
</head>
<body style="background-color: #E8EBF1; font-family: Noto Sans KR;">

<div class="bg-light shadow">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">BTC village</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'btc:index' %}">메인 화면</a>
                    <a class="nav-link" href="{% url 'community:community_index' %}">자유 게시판</a>
                    <a class="nav-link" href="{% url 'btc:rank' %}">랭킹</a>

                </div>
            </div>
            {% if user.is_authenticated %}
            <div id="user_info" class="user-info-text" style="margin-right:2rem; width:13rem;">
                <div class="row">
                    <span>[{{ user.nickname }} 님] <a href="{% url 'btc:reset_account' user.pk %}" style="color:red;">계정 초기화</a></span>
                </div>
                <div class="row">
                    <span>보유 USDT : {{ user.usdt }}</span>
                </div>
            </div>
            <div id="logout_box">
                <a class="btn btn-outline-primary" href="{% url 'accounts:logout' %}">Logout</a>
            </div>
            {% else %}
            <div id="login_box">
                <a class="btn btn-outline-primary" href="{% url 'accounts:login' %}">Login</a>
                <a class="btn btn-outline-primary" href="{% url 'accounts:signup' %}">signup</a>
            </div>
            {% endif %}
        </nav>
    </div>
</div>
<div class="container">
    {% if messages %}
    {% for message in messages %}
    {% bootstrap_messages message%}
    {% endfor %}
    {% endif %}
</div>

{% block contents %}
{% endblock contents %}


</body>
</html>